<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css}">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/static/css/me.css}">
  <link rel="icon" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}">
</head>
<body>

<br>
<br>
<br>
 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             管理后台登录
           </div>
         </h2>
         <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password" placeholder="密码">
               </div>
             </div>
             <button class="ui fluid large teal submit button">登   录</button>
           </div>

           <div class="ui error mini message"></div>
           <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>

         </form>

       </div>
     </div>
   </div>
 </div>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js" th:src="@{https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js}"></script>
<script src="../../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
<script src="../../static/lib/prism/prism.js" th:src="@{/static/lib/prism/prism.js}"></script>
<script src="../../static/lib/tocbot/tocbot.min.js" th:src="@{/static/lib/tocbot/tocbot.min.js}"></script>
<script src="../../static/lib/qrcode/qrcode.min.js" th:src="@{/static/lib/qrcode/qrcode.min.js}"></script>
<script src="../../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/static/lib/waypoints/jquery.waypoints.min.js}"></script>
<link rel="stylesheet" href="../../static/css/APlayer.min.css">
<div class="aplayer" data-id="3778678" data-server="netease" data-type="playlist" data-fixed="true" data-autoplay="true" data-volume="0.6"></div>
<script src="../../static/js/semantic.min.js"></script>
<script src="../../static/js/jquery.scrollTo.min.js"></script>
<script src="../../static/js/prism.js"></script>
<script src="../../static/js/tocbot.min.js"></script>
<script src="../../static/js/qrcode.min.js"></script>
<script src="../../static/js/jquery.waypoints.min.js"></script>
<script src="../../static/js/me.js"></script>
<script src="../../static/js/jquery.pjax.min.js"></script>
<script type="text/javascript" src="../../static/js/snow.js" th:src="@{/static/js/snow.js}"></script>
<script type="text/javascript" src="../../static/js/click_show_text.js"></script>
<script type="text/javascript" src="../../static/js/canvas-nest.min.js"></script>
<!--/*/</th:block>/*/-->

<!--&lt;!&ndash;适配移动端和电脑端&ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--  var browser = {-->
<!--    versions: function () {-->
<!--      var u = navigator.userAgent, app = navigator.appVersion;-->
<!--      return {     //移动终端浏览器版本信息-->
<!--        trident: u.indexOf('Trident') > -1, //IE内核-->
<!--        presto: u.indexOf('Presto') > -1, //opera内核-->
<!--        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核-->
<!--        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核-->
<!--        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端-->
<!--        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端-->
<!--        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器-->
<!--        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器-->
<!--        iPad: u.indexOf('iPad') > -1, //是否iPad-->
<!--        webApp: u.indexOf('Safari') == -1 //是否web应用程序，没有头部与底部-->
<!--      };-->
<!--    }(),-->
<!--    language: (navigator.browserLanguage || navigator.language).toLowerCase()-->
<!--  }-->
<!--  if (browser.versions.mobile) {-->

<!--    /*移动端移除animated特效*/-->
<!--    $('#typeDiv').removeClass('animated fadeInRightBig ');-->
<!--    $('#tagDiv').removeClass('animated fadeInRightBig');-->
<!--    $('#recommendDiv').removeClass('animated fadeInRightBig');-->
<!--    $('#middleValue').removeClass('animated fadeIn');-->
<!--    $('#blogDiv').removeClass('animated fadeInLeftBig');-->
<!--  }else if(!browser.versions.mobile){ //非移动端，动态加载js和div-->

<!--    var script1 = document.createElement('script');-->
<!--    script1.type = 'text/javascript';-->
<!--    script1.src = '..\\static\\js\\snow.js';-->

<!--    $('body').append(script1);-->
<!--  }-->
<!--</script>-->



<script>
  $('.ui.form').form({
    fields : {
      username : {
        identifier: 'username',
        rules: [{
          type : 'empty',
          prompt: '请输入用户名'
        }]
      },
      password : {
        identifier: 'password',
        rules: [{
          type : 'empty',
          prompt: '请输入密码'
        }]
      }
    }
  });
</script>





</body>
</html>